[*.cs]

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = error

# IDE0005: El uso de la directiva no es necesario.
dotnet_diagnostic.IDE0005.severity = none

# CS0436: El tipo entra en conflicto con un tipo importado
dotnet_diagnostic.CS0436.severity = none
